body{
  font-family: 'Times New Roman', Times, serif;
}

.info-form{
  background-color: white;
  padding: 50px;
  margin: 5px;
}

.info-form h3 {
  margin: 0px 0px 15px 0px;
  text-align: center;
}

.error{
    margin-bottom: 5px;
    text-align: center;
    color: red;
}

.success{
  margin-bottom: 5px;
  text-align: center;
  color: green;
}

.info-table{
  background-color: white;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.info-table-header{
  margin: 15px 0px;
}

.info-table-header p {
  margin: 0px 0px;
  font-size: 21px;
  float: left;
}

.info-table .table tr th{
  text-align: center;
  background-color:darkgrey;
}

.search-box{
  float: right;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  line-height: 35px;
  pointer-events: none;
}