<body>
    <nav class="navbar navbar-default">
        <div class="container">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li ><a [routerLink]='["home"]'>Home</a></li>
                <li><a [routerLink]='["role"]' *ngIf="this.roleId==='101'">Roles</a></li>
                <li><a [routerLink]='["adduser"]' *ngIf="this.roleId==='101' || this.roleId==='102'">Add Users</a></li>
                <li><a [routerLink]='["showusers"]' *ngIf="this.roleId==='101' || this.roleId==='102'">Show Userslist</a></li>
                <li><a [routerLink]='["personalinfolist"]' *ngIf="this.roleId==='101'">Personal Info</a></li>
                <li><a [routerLink]='["mypersonalinfo"]' *ngIf="this.roleId==='103'">My PersonalInfo</a></li>
            </ul>
           
            <ul class="nav navbar-nav logout-menu">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Hello {{this.userName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ><a [routerLink]='["/logout"]'>Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
      </div>
    </nav>

  <div class="container">
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
  </div>

  <div class="footer">

  </div>
</body>






